[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]ssets/**/*.meta
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta

[Bb]uilds/
[Pp]erforceVersion.txt
*.apk
*.unitypackage
*.app
*.prf
*.prefab
[Pp]rojectSettings/ProjectVersion.txt
[Pp]rojectSettings/UnityConnectSettings.asset
*.DS_Store/